@use "variables" as *;

.container {
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

.page-full {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.green {
  color: $color-green;
}

.black {
  color: $color-black;
}

.white {
  color: $color-total-white;
}