@use "variables" as *;
@use "mixins" as *;

.container {
  padding: 0 rem(40px);
  width: 100%;
  margin: 0 auto;
  max-width: rem(1920px);

  @media ($media-md) {
    padding: 0 rem(12px);
  }
}

.page-full {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.green {
  color: $color-green;
}

.black {
  color: $color-black;
}

.white {
  color: $color-total-white;
}

.word {
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  will-change: transform, opacity;
}