.u-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.u-icon-mouse {
  background-image: url('../../assets/images/mouse.svg');
}

.u-icon-percent {
  background-image: url('../../assets/images/percent.svg');
}

.u-icon-arrow-up-right {
  background-image: url('../../assets/images/arrow-up-right.svg');
}

.u-icon-search {
  background-image: url('../../assets/images/search.svg');
}

.u-icon-arrow-down-right {
  background-image: url('../../assets/images/arrow-down-right.svg');
}

.u-icon-burger-close {
  background-image: url('../../assets/images/burger-close.svg');
}

.u-icon-burger-open {
  background-image: url('../../assets/images/burger-open.svg');
}

.u-icon-print-x {
  background-image: url('../../assets/images/print-x.svg');
  width: 95px;
  height: 28px;
}

.u-icon-logo {
  background-image: url('../../assets/images/logo_dark.svg');
  width: 117px;
  height: 44px;
}

.u-icon-arrow-left {
  background-image: url('../../assets/images/arrow-right.png');
  transform: rotate(180deg);
}

.u-icon-arrow-right {
  background-image: url('../../assets/images/arrow-right.png');
}


