@use "variables" as *;
@use "mixins" as *;

html {
  scroll-behavior: smooth;
  font-size: clamp(16px,16px + (20 - 16) * (100vw - 375px) / (1280 - 375),20px);

  @media (width >= 1920px) {
    font-size: clamp(16px,16px + (20 - 16) * (100vw - 1920px) / (2560 - 1920),20px);
  }
}



body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(238, 238, 238);
  font-family: $main-font;
  font-size: rem(14px);
  line-height: rem(22px);
  color: $color-black;
  letter-spacing: 0.02em;
  overscroll-behavior: none;

  @media ($media-md) {
    font-size: rem(12px);
    line-height: rem(16px);
  }

  &.is-hidden {
    overflow: hidden;
  }
}