@use "variables" as *;

html {
  scroll-behavior: smooth;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);
  
  @media (max-width: 1024px) {
    --refRes: 768  
  }
  @media (max-width: 530px) {
    --refRes: 320
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(238, 238, 238, 1);
  font-family: $main-font;
  font-size: 14px;
  line-height: 22px;
  color: $color-black;
  letter-spacing: 2%;
  overscroll-behavior: none;

  &.is-hidden {
    overflow: hidden;
  }
}