@use "variables" as *;
@use "mixins" as *;

html {
  scroll-behavior: smooth;

  @media (min-width: 375px)  { font-size: 14px; }
  @media (min-width: 1280px) { font-size: 16px; }
  @media (min-width: 1920px) { font-size: 18px; }
  @media (min-width: 2560px) { font-size: 20px; }
}



body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(238, 238, 238);
  font-family: $main-font;
  font-size: fluid(12px, 14px);
  line-height: fluid(16px, 22px);
  color: $color-black;
  letter-spacing: 2%;
  overscroll-behavior: none;

  &.is-hidden {
    overflow: hidden;
  }
}