@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  background-color: rgba(238, 238, 238);
  font-family: $main-font;
  font-size: 14px;
  line-height: 22px;
  color: $color-black;
  letter-spacing: 2%;

  &.is-hidden {
    overflow: hidden;
  }
}