strong {
  font-size: 171px;
  line-height: 160px;
  letter-spacing: -6%;
  font-weight: 400;
}

h1 {
  font-size: 68px;
  line-height: 76px;
  letter-spacing: -3%;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -3%;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1%;
  font-weight: 400;
}

h4 {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  font-weight: 400;
}

span {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 5%;
  font-weight: 500;
  text-transform: uppercase;
}

sup {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2%;
}