



/* colors */
$color-green: rgb(28, 172, 120);
$color-light-green: rgb(33, 215, 149);
$color-dark-purple: rgb(46, 39, 72);
$color-dark-purple-second: rgb(122, 104, 237);
$color-black: rgb(56, 56, 56);
$color-gray: rgb(246, 246, 246);
$color-total-white: rgb(255, 255, 255);
$color-total-black: rgb(0, 0, 0);

/* media breakpoints */
$media-xs: 'max-width: 375px';
$media-sm: 'max-width: 767px';
$media-md: 'max-width: 1023px';
$media-lg: 'max-width: 1279px';
$media-xl: 'max-width: 1439px';
$media-2xl: 'max-width: 1919px';

/* fonts */
$main-font: "Struve",-apple-system,blinkmacsystemfont,"Helvetica","Arial",sans-serif;

/* grid grid-template-columns :example grid-template-columns: $grid-cols-1 */
$grid-cols-1: repeat(1, minmax(0, 1fr));
$grid-cols-2: repeat(2, minmax(0, 1fr));
$grid-cols-3: repeat(3, minmax(0, 1fr));
$grid-cols-4: repeat(4, minmax(0, 1fr));
$grid-cols-5: repeat(5, minmax(0, 1fr));
$grid-cols-6: repeat(6, minmax(0, 1fr));
$grid-cols-7: repeat(7, minmax(0, 1fr));
$grid-cols-8: repeat(8, minmax(0, 1fr));
$grid-cols-9: repeat(9, minmax(0, 1fr));
$grid-cols-10: repeat(10, minmax(0, 1fr));
$grid-cols-11: repeat(11, minmax(0, 1fr));
$grid-cols-12: repeat(12, minmax(0, 1fr));

/* grid-column :example grid-column: $col-span-1 */
$col-span-1: span 1 / span 1;
$col-span-2: span 2 / span 2;
$col-span-3: span 3 / span 3;
$col-span-4: span 4 / span 4;
$col-span-5: span 5 / span 5;
$col-span-6: span 6 / span 6;
$col-span-7: span 7 / span 7;
$col-span-8: span 8 / span 8;
$col-span-9: span 9 / span 9;
$col-span-10: span 10 / span 10;
$col-span-11: span 11 / span 11;
$col-span-12: span 12 / span 12;


/* wrapper */
$wrap: 1440px;
$transition3: .3s ease-in-out all;
